page-home {
    .transfer {
        border-radius: .5rem;
        ion-card-header {
            @extend .text-thin;
            font-size: 2.6rem; 
        }        
        &-money, &-total {
            h3 {
                font-size: 2rem;
                @extend .text-semi-bold;
            }
            h4 {
                font-size: 1.8rem;
                display: inline;
            }
        }
        &:active {
            transform: scale(1.1, 1.1);
        }
    }
}