// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,500,600');


// _variables
$status-approved: #16B961;
$status-failed: #F03030;
$status-processed: #505155;

$color-primary: #F4D246;
$color-secondary: #B5950E;

$font-family: 'Raleway' sans-serif;

ion-content {
    background: $color-primary !important;
}
ion-header {
    background: $color-secondary !important;
}
ion-footer {
    background: $color-secondary !important;
}

body {
    font-family: $font-family;
}

.user {
    img {
        display: block;
        margin: auto;
        border-radius: 50%;
        border: 2px solid ;
    }
    &-name {
        @extend .text-semi-bold;   
    }
    &-ag {
        @extend .text-thin;
    }
    &-cc {
        @extend .text-thin;
    }
}

//Must be put in utils.scss
.text {
    &-thin {
        font-weight: 300;
    }
    &-semi-bold {
        font-weight: 500;
    }
}

.d-flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex
}

@mixin transition($property) {
    -webkit-transform: $property;
       -ms-transform: $property;
           transform: $property;
}