@mixin transfer-status($status-color) {
    border-right: 3px solid $status-color;
}
page-money-transfer-list {
    ion-col {
        padding: 0 !important;
    }
    ion-card {
        margin: 0 !important;
        width: 100% !important;
        background: linear-gradient($color-secondary-rgba, $color-primary);
        &:active {
            transform: scale(1.1, 1.1);
        }
    }
    .transfer {
        background: linear-gradient($color-secondary-rgba, $color-primary);
        @extend .d-flex;
        align-items: center;
        padding: 1em 0.5em;
        &-type {
            h2 {
                @extend .text-semi-bold;
                font-size: 2rem;
                min-width: 40px;
                text-align: center;
            }
        }
        &-divider {
            height: 90px;
            margin: 0 .5em;
            border: 1px solid $color-secondary;
        }
        &-data {
            width: 100%;
            padding-right: .35em;
            h6 {
                @extend .text-semi-bold;
            }
            h5 {
                @extend .text-thin;
                font-size: 1.6rem;
            }
        }
        &-money {
            h5 {
                @extend .text-semi-bold;
                font-size: 1.6rem;
            }
        }
        &.status-liquidado {
            @include transfer-status($status-approved);
        }
        &.status-invalido {
            @include transfer-status($status-failed);
        }
        &.status-processado {
            @include transfer-status($status-processed);
        }
    }
}

